.header {
	padding-top: 15px;
	padding-bottom: 45px;
	padding-left: 50px;
	padding-right: 50px;
}

.transparent {
	border: 0px !important;
	background: transparent !important;
}

.logo {
	font-size: 20px  !important;
	font-weight: bold !important;
	font-family: cursive !important;
	float: left;
	color: #628baf !important;	
	text-decoration: none !important;
}

.login {
	float: right;
	background-image: linear-gradient(to bottom,#fff 0,#f0f5f9 100%) !important;
	font-size: 13px !important;
	color: #628baf !important;
	font-family: fantasy !important;
}

.dropseperator {
	font-weight: bold;
	font-size: 12px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active {
  background-color: #6D9BC3 !important;
}

.navbar-nav>li>a:focus {
  background-color: #e1ebf3 !important;
  color: #6D9BC3 !important;
}

.popup {
	display:none;
}

.loginh3 {
    text-align: center;
	color: #628baf;	
	font-family: cursive;
}

.centerh4 {
    text-align: center;
	color: #628baf;
	padding-bottom:10px	;
}

.loginButton {
	background-image: linear-gradient(to bottom,#fff 0,#f0f5f9 100%) !important;
	font-size: 13px !important;
	color: #628baf !important;	
}

label {
	color: #628baf;	
}

.user {
	float: right;
	border: 1px solid #ccc;
	background-image: linear-gradient(to bottom,#fff 0,#f0f5f9 100%) !important;
	font-size: 13px !important;
	color: #628baf !important;
}

.prefSave {
	width: 125px;
	color: white !important;
	background-image: none !important;
	background-color: #337ab7 !important;
	text-shadow: none !important;
}

.footer-section {
	border-top: 2px solid #628baf;
	padding-top: 10px;
	margin-top:20px;
}

.aboutus {
	font-family: fantasy;
	font-size: 16px;
	font-weight: bolder;
}

.aboutTxt {
	text-align: justify !important;
	font-family: fantasy;
	font-size: 13px;
	line-height: initial;
}

.contactus {
	font-weight: normal !important;
	font-family: fantasy !important;
	font-size: 16px !important;
}

.contactlink {
	font-weight: bolder !important;
	font-family: fantasy !important;
	font-size: 13px !important;
}

.designerBtn {
	font-size: initial !important;
	font-family: fantasy !important;
}

.bgimg {
	background-image:url('assets/images/bg1.img');
	background-repeat: repeat-x;
}