.header {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

.transparent {
	border: 0px;
	background: transparent;
}

.logo {
	float: left;
}

.login {
	float: right;
}