.header {
	padding-top: 15px;
	padding-bottom: 45px;
	padding-left: 50px;
	padding-right: 50px;
}

.transparent {
	border: 0px;
	background: transparent;
}

.logo {
	font-size: 20px;
	font-weight: bold;
	font-family: cursive;
	float: left;
	color: #628baf;	
}

.login {
	float: right;
	background-image: linear-gradient(to bottom,#fff 0,#f0f5f9 100%) !important;
	font-size: 13px !important;
	color: #628baf !important;
}

.dropseperator {
	font-weight: bold;
	font-size: 12px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active {
  background-color: #6D9BC3 !important;
}

.navbar-nav>li>a:focus {
  background-color: #e1ebf3 !important;
  color: #6D9BC3 !important;
}

.popup {
	display:none;
}

.loginh3 {
    text-align: center;
	color: #628baf;	
	font-family: cursive;
}

.centerh4 {
    text-align: center;
	color: #628baf;
	padding-bottom:10px	;
}

.loginButton {
	background-image: linear-gradient(to bottom,#fff 0,#f0f5f9 100%) !important;
	font-size: 13px !important;
	color: #628baf !important;	
}

label {
	color: #628baf;	
}