

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div>
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/2.jpg")" height=500px  width =750px align=left  hspace=10px vspace=5px>
                </a>
            </div>
            <div >
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/3.jpg")" height=800px  width =400px align=right   vspace=5px >
                </a>
            </div>
            <div >
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/4.jpg")" height=290px  width =750px align=left  hspace=10px vspace=5px >
                </a>
            </div>
            <div >
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/5.jpg")" height=500px  width =580px align=right  vspace=5px >
                </a>
            </div>
            <div >
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/1.jpg")"  height=500px  width =580px align=left  vspace=5px>
                </a8
            </div>
            <div>
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/10.png")" height=800px  width =500px align=left   vspace=5px >
                </a>>
                </a>
            </div>
            <div ">
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/6.jpg")" height=400px  width =650px align=left hspace=10px  vspace=5px >
                </a>>
                </a>
            </div>
            <div >
                <a  href="#">
                    <img src="@routes.Assets.at("images/homepage/7.jpg")" height=390px  width =650px align=left hspace=10px  vspace=5px >
                </a>> >
                </a>
            </div>
            <div >
                <a  href="#">
                    <img  src="@routes.Assets.at("images/homepage/11.png")"height=600px  width =650px align=left  hspace=10px vspace=5px>
                </a>
            </div>
            <div >
                <a  href="#">
                    <img src="@routes.Assets.at("images/homepage/9.png")" height=600px  width =500px align=right   vspace=5px >
                </a>
            </div>
            
            
</div>
        </div>
