    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="@routes.Assets.at("images/testGridBySowmya/d69_grey_red_gold.jpg")" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d70_green.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d71_blue.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d72_yellow_silver.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d73_green_gold.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d74_white_cream_orange_gold.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d75_blue_white_silver.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d76_pink_blue_gold.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d77_green_gold.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d78_red_gold.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="d79_pink_yellow_white.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-6 thumb">
                <a class="thumbnail" href="http://placehold.it/400x300">
                    <img class="img-responsive" src="d71_blue.jpg" alt="">
                </a>
            </div>
            
</div>
        </div>
