@(orders: List[CustomOrders])

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  	@for(order <- orders) {
  		<li role="presentation" class="active"><a href="#@order.id" aria-controls="home" role="tab" data-toggle="tab">@order.id</a></li>
	}
  </ul>

  <div class="tab-content">
  	@for(order <- orders) {
  		<div role="tabpanel" class="tab-pane active" id=@order.id>
  			<label> Order Id: @order.id</label>
  			<label> Customer name: @order.cust_id</label>
  			<label> Description: @order.descr</label>
  			<div class="pre-scrollable">
  				@for(msg <- order.messages) {
	  					@msg.fromCust match {
	  						case true => {
	  							<label>@order.cust_id :
	  						}
	  						case false => {
	  							<label>@order.merchant_id :
	  						}
	  					}
	  					@msg.message - @msg.date_created</label>
	  			}
	  			<textarea id="msgarea" rows="5" cols="10"></textarea>
	  			<button id="sendMsg"></button>
  			</div>
  		</div>
  	}
  </div>
</div>