@(orders: List[CustomizedOrders], fromCust: Boolean)

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
	  @if(orders != null) {
	  	@for(order <- orders) {
	  		<li role="presentation"><a href="#@order.id" aria-controls="home" role="tab" data-toggle="tab"><label>Order #@order.id</label></a></li>
		}
	  }
  </ul>

  <div class="tab-content">
  	@if(orders != null) {
  		@for(order <- orders) {
	  		<div role="tabpanel" class="tab-pane" id=@order.id>
	  			<div style="text-align:center"><label><strong> Customer name:</strong> @order.custusername</label></div>
	  			<div style="text-align:center"><label><strong> Merchant name:</strong> @order.merchantname</label></div>
	  			<div style="text-align:center"><label><strong> Product ordered:</strong> @order.prodtype</label></div>
	  			<div style="text-align:center"><label><strong> Colors Preferred:</strong> @order.colorsList</label></div>
	  			<div style="text-align:center"><label><strong> Budget Range:</strong> @order.budgetrange</label></div>
	  			<div style="text-align:center"><label><strong> Description:</strong> @order.description</label></div>
	  			<div class="pre-scrollable" style="height:125px;border: 1px solid #628baf; border-radius: 3px; text-align: center;width: 650px;margin-left: 50px;">
	  				<label style="font-weight: bold; font-size: 14px; text-decoration: underline;"> MESSAGE HISTORY</label>
	  				<div>
			  			@for(msg <- order.messages) {
			  				@msg.fromCust match {
			  					case true => {
			  							<label style="text-decoration: underline;">@order.custusername :</label>
			  						}
			  					case false => {
			  							<label style="text-decoration: underline;">@order.merchantname :</label>
			  						}
			  				}
			  				<label>@msg.message - @msg.date_created</label>
			  			}
		  			</div>	
		  		</div>
		  		<form class="form-horizontal" method="post" action="@routes.Application.addMessageToOrder()" style="padding-top:20px">
		  				<div class="form-group hide">
							<label for="order_id" class="col-sm-3 control-label">Order id</label>
							<div class="col-sm-8">
								<input type="text" name="order_id" class="form-control" value=@order.id>
							</div>
						</div>
						<div class="form-group hide">
							<label for="fromCust" class="col-sm-3 control-label">From customer</label>
							<div class="col-sm-8">
								<input type="text" name="fromCust" class="form-control" value=@fromCust>
							</div>
						</div>
						<div class="form-group" class="col-sm-3 control-label">
							<label for="message"  class="col-sm-3 control-label">Enter Message:</label>
							<div class="col-sm-8">
								<textarea class="form-control" rows="3" id="message" name="message"></textarea>
							</div>
						</div>
						<div class="form-group">
				        	<div class="col-sm-10 col-sm-offset-5">
				                <button type="submit" class="btn btn-default prefSave" style="width:125px">Send Message</button>
				            </div>
				        </div>
		  			</form>
	  		</div>
	  	}
  	}
  </div>
</div>