@(orders: List[CustomizedOrders])

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
	  @if(orders != null) {
	  	@for(order <- orders) {
	  		<li role="presentation" class="active"><a href="#@order.id" aria-controls="home" role="tab" data-toggle="tab">Order #@order.id</a></li>
		}
	  }
  </ul>

  <div class="tab-content">
  	@if(orders != null) {
  		@for(order <- orders) {
	  		<div role="tabpanel" class="tab-pane active" id=@order.id>
	  			<label> Order Id: @order.id</label>
	  			<label> Customer name: @order.custusername</label>
	  			<label> Merchant name: @order.merchantname</label>
	  			<label> Product ordered: @order.prodtype</label>
	  			<label> Colors Preferred: @order.colorsList</label>
	  			<label> Budget Range: @order.budgetrange</label>
	  			<label> Description: @order.description</label>
	  		</div>
	  	}
  	}
  </div>
</div>