@(user: String, register: String, showorders: String, orders: List[CustomizedOrders])

<div>
	<div class="header">
		<a href="@routes.Application.loadMain()" role="button"
			class="transparent logo">Elan Indulgence</a>
		<div class="btn-group user">
			<button type="button" class="btn user">Welcome @{user}</button>
			<button type="button" class="btn dropdown-toggle user"
				data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span> <span class="sr-only">Toggle
					Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" style="font-size: 10px;font-family: fantasy"  class="transparent" >DETAILS</a></li>
				<li class="divider"></li>
				<li><a href="#" role="button" class="transparent"
					data-toggle="modal" data-target="#prefmodal"
					style="font-size: 10px;font-family: fantasy">PREFERENCES</a></li>
				<li class="divider"></li>
				<li><a href="#" style="font-size: 10px;font-family: fantasy" class="transparent" id="orderstab">ORDERS</a></li>
				<li class="divider"></li>
				<li><a href="#" style="font-size: 10px;font-family: fantasy" class="transparent" >RATINGS</a></li>
				<li class="divider"></li>
				<li><a href="@routes.Application.loadMain()"
					style="font-size: 10px;font-family: fantasy" class="transparent" >LOGOUT</a></li>
			</ul>
		</div>
		<a href="#" role="button" class="btn user" data-toggle="modal" data-target="#custordermodal">Customize your order!</a>
	</div>
	
	<div id="ordersmodal" class="modal fade" role="dialog" aria-labelledby="ordersModal">
		<div class="modal-dialog" style="width: 800px; margin-top: 50px;">
			<div class="modal-content" style="height: 550px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h3 class="loginh3" style="font-family: fantasy;font-weight: bold">Welcome @{user}, Your orders</h3>
				</div>
				<div class="modal-body" id="omodal">
					@merchantorder(orders)
				</div>
			</div>
		</div>
	</div>
	@register match { 
			case "TRUE" => {
							<script type="text/javascript">
							    $(document).load(function(){
							        $("#prefmodal").modal('show');
							    });
							</script>
						   }
			case "FALSE" => { } 
		}
	@showorders match { 
			case "TRUE" => {
							<script type="text/javascript">
								window.onload = function () {
									$("#ordersmodal").modal('show');
								}
							</script>
						   }
			case "FALSE" => { } 
		}
	<script>
		$("#orderstab").click(function() {
			var url = window.location.href.split("/")[0];
			window.location.href = url + "/userorder?u=@user";
		});
	</script>
	<div id="prefmodal" class="modal fade" role="dialog"
		aria-labelledby="prefModal">
		<div class="modal-dialog" style="width: 800px; margin-top: 50px;">
			<div class="modal-content" style="height: 550px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h3 class="loginh3" style="font-family: fantasy;font-weight: bold">Welcome
						@{user}! Please fill your preferences</h3>
				</div>
				<div class="modal-body" id="pmodal">
					<form id="prefForm" method="post" action="@routes.Application.saveUserPreferences()">
						<div id="typePref" style="border-bottom: 1px solid #ccc">
							<h3 style="text-align: center; padding-bottom: 10px;font-family: fantasy">
								<span class="label label-primary">Product Preferences</span>
							</h3>
							<div class="container">
								<div class="row">
									<div  class="col-xs-2" style="font-family: fantasy">
										<label>
											<span class="label label-primary">Women</span>
										</label>
										<div class="form-group">
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="1">SAREES
											</label>
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="2">LEHENGAS
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="3">KURTIS
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="4">SALWAR KAMEEZ
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="5">DRESSES
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="6">JEWELLERY
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="7">BAGS
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="8">FOOTWEAR
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="9">SCARVES
											</label>
										</div>
									</div>
									<div  class="col-xs-2" style="font-family: fantasy">
										<label>
											<span class="label label-primary">Men</span>
										</label>
										<div class="form-group">
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="10">SHERWANI
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="11">KURTAS
											</label> 
											<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
												<input type="checkbox" value="12">SUITS
											</label>
										</div>
									</div>
									<div  class="col-xs-4">
										<div class="col-sm-offset-4" style="font-family: fantasy">
											<label><span class="label label-primary">Kids</span></label>
										</div>
										<div class="container">
											<div class="row">
												<div class="col-xs-2">
													<div style="font-family: fantasy">
														<label><span class="label label-primary">Girls</span></label>
													</div>
													<div class="form-group">
														<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
															<input type="checkbox" value="13">ETHNIC WEAR
														</label>
														<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
															<input type="checkbox" value="14">DRESSES
														</label>
													</div>
												</div>
												<div class="col-xs-2">
													<div style="font-family: fantasy">
														<label><span class="label label-primary">Boys</span></label>
													</div>
													<label class="checkbox" style="font-size: 10px;font-weight: normal;font-family: fantasy">
														<input type="checkbox" value="15">ETHNIC WEAR
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="colorPref">
							<h3 style="text-align: center; padding-bottom: 10px;font-family: fantasy">
								<span class="label label-primary">Color Preferences</span>
							</h3>
							<div class="container-fluid form-group" style="font-family: fantasy">
								<label class="checkbox-inline" style="font-size: 12px; color: red"> 
									<input type="checkbox" value="16">RED
								</label> 
								<label class="checkbox-inline" style="font-size: 12px; color: blue"> 
									<input type="checkbox" value="17">BLUE
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: green"> <input
									type="checkbox" value="18">GREEN
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: black"> <input
									type="checkbox" value="19">BLACK
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: yellow"> <input
									type="checkbox" value="20">YELLOW
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: silver"> <input
									type="checkbox" value="21">SILVER
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: gold"> <input
									type="checkbox" value="22">GOLD
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: purple"> <input
									type="checkbox" value="23">PURPLE
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: pink"> <input
									type="checkbox" value="24">PINK
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: orange"> <input
									type="checkbox" value="25">ORANGE
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: cream"> <input
									type="checkbox" value="26">CREAM
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: #e1ebf3"> <input
									type="checkbox" value="27">WHITE
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: grey"> <input
									type="checkbox" value="28">GREY
								</label> 
								<label class="checkbox-inline"
									style="font-size: 12px; color: brown"> <input
									type="checkbox" value="29">BROWN
								</label>
								<input type="checkbox" class="hide" value=@user name="username">
							</div>
						</div>
						<div class="form-group" style="float:right">
				            <button type="button" class="btn btn-default prefSave" data-dismiss="modal">Save</button>
				        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="custordermodal" class="modal fade" role="dialog" aria-labelledby="custOrdModal">  
		<div class="modal-dialog" style="width: 800px; margin-top: 75px">
			<div class="modal-content">
				<div class="modal-header">  
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="loginh3" style="font-family: fantasy;font-weight: bold">Place a customer order!</h3>
				</div>      
				<div class="modal-body" id="custOrdBody">
					<div class="container" style="width:750px;text-align: center">
						<form  class="form-horizontal" method="post" action="@routes.Application.addCustomOrder()">
							<div class="form-group hide">
								<label for="custusername">Customer Name</label>
								<input type="text" name="custusername" class="form-control" value=@user>
							</div>
							<div class="form-group">
								<label for="merchantselect" class="col-sm-3 control-label">Select Designer/Boutique:</label>
								<div class="col-sm-8">
									<select class="form-control" id="merchantselect" name="merchantname">
								    	<option>Anita Reddy</option>
								    	<option>Bhargavi Kunam</option>
								    	<option>Pawan &amp; Pranav haute coture</option>
								    	<option>Sridevi &amp; Swapna</option>
								    	<option>Varuni Gopen</option>
								    	<option>Bhaminee</option>
								    	<option>Manya Collections</option>
								    	<option>Polka Dots</option>
								    	<option>Samyakk</option>
								    	<option>Sanvi</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="prodtypeselect" class="col-sm-3 control-label">Select Product Type:</label>
								<div class="col-sm-8">
									<label class="radio-inline"><input type="radio" name="prodtype" value="SAREES">SAREES</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="LEHENGAS">LEHENGAS</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="KURTIS">KURTIS</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="SALWAR KAMEEZ">SALWAR KAMEEZ</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="DRESSES">DRESSES</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="JEWELLERY">JEWELLERY</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="BAGS">BAGS</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="FOOTWEAR">FOOTWEAR</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="SCARVES">SCARVES</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="SHERWANI">SHERWANI</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="KURTAS">KURTAS</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="SUITS">SUITS</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="KIDS GIRLS ETHNIC">KIDS GIRLS ETHNIC</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="KIDS GIRLS DRESSES">KIDS GIRLS DRESSES</label>
									<label class="radio-inline"><input type="radio" name="prodtype" value="KIDS BOYS ETHNIC">KIDS BOYS ETHNIC</label>
								</div>
							</div>
							<div class="form-group">
								<label for="budgetselect" class="col-sm-3 control-label">Select Budget Range</label>
								<div class="col-sm-8">
									<select class="form-control" id="budgetselect" name="budgetrange">
								    	<option>0-30</option>
								    	<option>30-50</option>
								    	<option>50-70</option>
								    	<option>70-100</option>
								    	<option>100+</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="colorselect" class="col-sm-3 control-label">Select Colors: </label>
								<div class="col-sm-8">
									<label class="checkbox-inline" style="font-size: 12px; color: red"><input type="checkbox" name="prefcolors[0]" value="RED">RED</label>
									<label class="checkbox-inline" style="font-size: 12px; color: blue"><input type="checkbox" name="prefcolors[1]" value="BLUE">BLUE</label>
									<label class="checkbox-inline" style="font-size: 12px; color: green"><input type="checkbox" name="prefcolors[2]" value="GREEN">GREEN</label>
									<label class="checkbox-inline" style="font-size: 12px; color: black"><input type="checkbox" name="prefcolors[3]" value="BLACK">BLACK</label>
									<label class="checkbox-inline" style="font-size: 12px; color: yellow"><input type="checkbox" name="prefcolors[4]" value="YELLOW">YELLOW</label>
									<label class="checkbox-inline" style="font-size: 12px; color: silver"><input type="checkbox" name="prefcolors[5]" value="SILVER">SILVER</label>
									<label class="checkbox-inline" style="font-size: 12px; color: gold"><input type="checkbox" name="prefcolors[6]" value="GOLD">GOLD</label>
									<label class="checkbox-inline" style="font-size: 12px; color: purple"><input type="checkbox" name="prefcolors[7]" value="PURPLE">PURPLE</label>
									<label class="checkbox-inline" style="font-size: 12px; color: pink"><input type="checkbox" name="prefcolors[8]" value="PINK">PINK</label>
									<label class="checkbox-inline" style="font-size: 12px; color: orange"><input type="checkbox" name="prefcolors[9]" value="ORANGE">ORANGE</label>
									<label class="checkbox-inline" style="font-size: 12px; color: cream"><input type="checkbox" name="prefcolors[10]" value="CREAM">CREAM</label>
									<label class="checkbox-inline" style="font-size: 12px; color: #e1ebf3"><input type="checkbox" name="prefcolors[11]" value="WHITE">WHITE</label>
									<label class="checkbox-inline" style="font-size: 12px; color: grey"><input type="checkbox" name="prefcolors[12]" value="GREY">GREY</label>
									<label class="checkbox-inline" style="font-size: 12px; color: brown"><input type="checkbox" name="prefcolors[13]" value="BROWN">BROWN</label>
								</div>
							</div>
							<div class="form-group">
								<label for="description" class="col-sm-3 control-label">Description:</label>
								<div class="col-sm-8">
									<textarea class="form-control" rows="5" id="description" name="description"></textarea>
								</div>
							</div>
							<div class="form-group">
				            	<div class="col-sm-10 col-sm-offset-4">
				                	<button type="submit" class="btn btn-default prefSave" style="width:125px">Save Order</button>
				                </div>
				            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>